<form class="registration-form" action="/" method="POST">
    <div class="text-center mb-4">
        <i class="far fa-user-circle" id="user-icon"></i>
        <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
        <p>Tell us a little about yourself.</p>
    </div>
    {{#each fields}}
        <div class="form-label-group"> 
            {{#if this.oneOf}}
                <select id="{{this.key}}" name="{{this.key}}" class="form-control" {{#if this.required}}required{{/if}}>
                    {{#each this.oneOf}}
                        <option value="{{this.const}}">{{this.title}}</option>
                    {{/each}}
                </select>   
            {{else}}
            <input
            {{#ifCond this.type '==' 'boolean'}}type="checkbox" {{/ifCond}}
            id="{{this.key}}" name="{{this.key}}" class="form-control" placeholder="{{this.title}}"
            {{#if this.required}}required{{/if}} autofocus="">
            {{/if}}

            <label for="{{this.key}}">{{this.title}}{{#if this.required}}<span class="requiredIndicator">*</span>{{/if}}</label>
        </div>
    {{/each}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
</form>